body {
    font-family: Arial;
    max-width: 600px;
    margin: 50px auto;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
}

select, button {
    margin-top: 10px;
    padding: 8px;
}
